<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


    <!--bean id="solrFactory" class="ru.lookfi.common.solr.SolrFactory" autowire="byName">
         <constructor-arg name="serverUrl" value="${solr.url}"/>
         <constructor-arg name="coreName" value=""/>
     </bean-->
    <context:component-scan base-package="ru.csc.vindur" />

    <bean id="indexHelper" class="ru.csc.vindur.IndexHelper"/>
    <bean id="valuesIndex" factory-bean="indexHelper" factory-method="values">
    </bean>

    <bean id="entityDao" class="ru.csc.vindur.entity.EntityDao">
        <constructor-arg name="fileName" value="data.txt" />
    </bean>

    <bean id="engineConfig" class="ru.csc.vindur.EngineConfig">
        <constructor-arg name="indexes">
            <map>
                <entry key="name" value-ref="valuesIndex"/>
                <entry key="gid" value-ref="valuesIndex" />
                <entry key="specCode" value-ref="valuesIndex" />
                <entry key="creatorUserId" value-ref="valuesIndex" />
                <entry key="createDate" value-ref="valuesIndex" />
                <entry key="lastEditDate" value-ref="valuesIndex" />
                <entry key="price">
                    <bean factory-bean="indexHelper" factory-method="price"/>
                </entry>
            </map>
        </constructor-arg>
        <constructor-arg name="expectedVolume" value="500"/>
    </bean>

    <bean id="searchService" class="ru.csc.vindur.SearchService" autowire="byName" >
        <constructor-arg name="config" ref="engineConfig"/>
    </bean>

    <bean id="itemService" class="ru.csc.vindur.entity.EntityService" autowire="byName">
    </bean>

</beans>